.Exchange-table {
  width: 400px;
  border-collapse: collapse;
  border: 2px solid black;
  td,
  th {
    text-align: left;
    padding: 5px;
    border-right: 2px solid black;
  }
  tr:nth-of-type(even) {
    background-color: rgb(238, 236, 236);
  }

  thead tr {
    background-color: lightgray;
  }
  .error {
    text-align: center;
    color: red;
  }
}

.hide-table {
  display: none;
}
