.time-range-selector-container {
  width: 400px;
  border: 1px solid black;
  display: flex;
  margin-bottom: 2px;
  .date-selector {
    width: 50%;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: lightgray;
    }
  }
}
